
  <div class="item_field">
    <label for="streetName">
      Street name
    </label>
    <input id="streetName" type="text" formControlName="streetName">
  </div>
  <div class="item_field">
    <label for="houseNumber">
      House number
    </label>
    <input id="houseNumber" type="text" formControlName="houseNumber">
  </div>
  <div class="item_field">
    <label for="postalCode">
      Postal code
    </label>
    <input id="postalCode" type="text" formControlName="postalCode">
  </div>



